In [1]:
!pip install pyspark

Requirement already satisfied: pyspark in c:\users\belema amah\anaconda3\lib\site-packages (3.4.1)
Requirement already satisfied: py4j==0.10.9.7 in c:\users\belema amah\anaconda3\lib\site-packages (from pyspark) (0.10.9.7)

In [2]:
#importing pyspark
import pyspark
from pyspark.sql.functions import col

In [3]:
# import sparksession
from pyspark.sql import SparkSession

In [4]:
#creating an instance of the sparksession
spark = SparkSession.builder.appName('Test').getOrCreate()

In [5]:
spark

In [6]:
# importing our data
df = spark.read.csv('daily_show_guests.csv')

In [7]:
df.show()

+----+--------------------+--------+--------+--------------------+
| _c0|                 _c1|     _c2|     _c3|                 _c4|
+----+--------------------+--------+--------+--------------------+
|YEAR|GoogleKnowlege_Oc...|    Show|   Group|      Raw_Guest_List|
|1999|               actor| 1/11/99|  Acting|      Michael J. Fox|
|1999|            Comedian| 1/12/99|  Comedy|     Sandra Bernhard|
|1999|  television actress| 1/13/99|  Acting|       Tracey Ullman|
|1999|        film actress| 1/14/99|  Acting|    Gillian Anderson|
|1999|               actor| 1/18/99|  Acting|    David Alan Grier|
|1999|               actor| 1/19/99|  Acting|     William Baldwin|
|1999|     Singer-lyricist| 1/20/99|Musician|       Michael Stipe|
|1999|               model| 1/21/99|   Media|      Carmen Electra|
|1999|               actor| 1/25/99|  Acting|     Matthew Lillard|
|1999|   stand-up comedian| 1/26/99|  Comedy|         David Cross|
|1999|             actress| 1/27/99|  Acting|      Yasmine Bleeth|
|1999|               actor| 1/28/99|  Acting|       D. L. Hughley|
|1999|  television actress|10/18/99|  Acting|    Rebecca Gayheart|
|1999|            Comedian|10/19/99|  Comedy|       Steven Wright|
|1999|             actress|10/20/99|  Acting|       Amy Brenneman|
|1999|             actress|10/21/99|  Acting|     Melissa Gilbert|
|1999|             actress|10/25/99|  Acting|      Cathy Moriarty|
|1999|            comedian|10/26/99|  Comedy|      Louie Anderson|
|1999|             actress|10/27/99|  Acting|Sarah Michelle Ge...|
+----+--------------------+--------+--------+--------------------+
only showing top 20 rows

In [8]:
# importing our dataframe while making our first row the header
df = spark.read.option('header', 'true').csv('daily_show_guests.csv', inferSchema=True)

In [9]:
df.show()

+----+-------------------------+--------+--------+--------------------+
|YEAR|GoogleKnowlege_Occupation|    Show|   Group|      Raw_Guest_List|
+----+-------------------------+--------+--------+--------------------+
|1999|                    actor| 1/11/99|  Acting|      Michael J. Fox|
|1999|                 Comedian| 1/12/99|  Comedy|     Sandra Bernhard|
|1999|       television actress| 1/13/99|  Acting|       Tracey Ullman|
|1999|             film actress| 1/14/99|  Acting|    Gillian Anderson|
|1999|                    actor| 1/18/99|  Acting|    David Alan Grier|
|1999|                    actor| 1/19/99|  Acting|     William Baldwin|
|1999|          Singer-lyricist| 1/20/99|Musician|       Michael Stipe|
|1999|                    model| 1/21/99|   Media|      Carmen Electra|
|1999|                    actor| 1/25/99|  Acting|     Matthew Lillard|
|1999|        stand-up comedian| 1/26/99|  Comedy|         David Cross|
|1999|                  actress| 1/27/99|  Acting|      Yasmine Bleeth|
|1999|                    actor| 1/28/99|  Acting|       D. L. Hughley|
|1999|       television actress|10/18/99|  Acting|    Rebecca Gayheart|
|1999|                 Comedian|10/19/99|  Comedy|       Steven Wright|
|1999|                  actress|10/20/99|  Acting|       Amy Brenneman|
|1999|                  actress|10/21/99|  Acting|     Melissa Gilbert|
|1999|                  actress|10/25/99|  Acting|      Cathy Moriarty|
|1999|                 comedian|10/26/99|  Comedy|      Louie Anderson|
|1999|                  actress|10/27/99|  Acting|Sarah Michelle Ge...|
|1999|        Singer-songwriter|10/28/99|Musician|           Melanie C|
+----+-------------------------+--------+--------+--------------------+
only showing top 20 rows

In [10]:
type(df)

pyspark.sql.dataframe.DataFrame

In [11]:
df.head(5)

[Row(YEAR=1999, GoogleKnowlege_Occupation='actor', Show='1/11/99', Group='Acting', Raw_Guest_List='Michael J. Fox'),
 Row(YEAR=1999, GoogleKnowlege_Occupation='Comedian', Show='1/12/99', Group='Comedy', Raw_Guest_List='Sandra Bernhard'),
 Row(YEAR=1999, GoogleKnowlege_Occupation='television actress', Show='1/13/99', Group='Acting', Raw_Guest_List='Tracey Ullman'),
 Row(YEAR=1999, GoogleKnowlege_Occupation='film actress', Show='1/14/99', Group='Acting', Raw_Guest_List='Gillian Anderson'),
 Row(YEAR=1999, GoogleKnowlege_Occupation='actor', Show='1/18/99', Group='Acting', Raw_Guest_List='David Alan Grier')]

In [12]:
df.printSchema()

root
 |-- YEAR: integer (nullable = true)
 |-- GoogleKnowlege_Occupation: string (nullable = true)
 |-- Show: string (nullable = true)
 |-- Group: string (nullable = true)
 |-- Raw_Guest_List: string (nullable = true)

In [13]:
# The best way to import our data while making first row header and also allowing spark to infer the data types
df1 = spark.read.csv('daily_show_guests.csv', header=True, inferSchema=True)

In [14]:
df1.show()

+----+-------------------------+--------+--------+--------------------+
|YEAR|GoogleKnowlege_Occupation|    Show|   Group|      Raw_Guest_List|
+----+-------------------------+--------+--------+--------------------+
|1999|                    actor| 1/11/99|  Acting|      Michael J. Fox|
|1999|                 Comedian| 1/12/99|  Comedy|     Sandra Bernhard|
|1999|       television actress| 1/13/99|  Acting|       Tracey Ullman|
|1999|             film actress| 1/14/99|  Acting|    Gillian Anderson|
|1999|                    actor| 1/18/99|  Acting|    David Alan Grier|
|1999|                    actor| 1/19/99|  Acting|     William Baldwin|
|1999|          Singer-lyricist| 1/20/99|Musician|       Michael Stipe|
|1999|                    model| 1/21/99|   Media|      Carmen Electra|
|1999|                    actor| 1/25/99|  Acting|     Matthew Lillard|
|1999|        stand-up comedian| 1/26/99|  Comedy|         David Cross|
|1999|                  actress| 1/27/99|  Acting|      Yasmine Bleeth|
|1999|                    actor| 1/28/99|  Acting|       D. L. Hughley|
|1999|       television actress|10/18/99|  Acting|    Rebecca Gayheart|
|1999|                 Comedian|10/19/99|  Comedy|       Steven Wright|
|1999|                  actress|10/20/99|  Acting|       Amy Brenneman|
|1999|                  actress|10/21/99|  Acting|     Melissa Gilbert|
|1999|                  actress|10/25/99|  Acting|      Cathy Moriarty|
|1999|                 comedian|10/26/99|  Comedy|      Louie Anderson|
|1999|                  actress|10/27/99|  Acting|Sarah Michelle Ge...|
|1999|        Singer-songwriter|10/28/99|Musician|           Melanie C|
+----+-------------------------+--------+--------+--------------------+
only showing top 20 rows

In [15]:
df1.printSchema()

root
 |-- YEAR: integer (nullable = true)
 |-- GoogleKnowlege_Occupation: string (nullable = true)
 |-- Show: string (nullable = true)
 |-- Group: string (nullable = true)
 |-- Raw_Guest_List: string (nullable = true)

In [16]:
type(df1)

pyspark.sql.dataframe.DataFrame

In [17]:
df.columns

['YEAR', 'GoogleKnowlege_Occupation', 'Show', 'Group', 'Raw_Guest_List']

In [18]:
# how to select individual columns
df.select('YEAR').show(5)

+----+
|YEAR|
+----+
|1999|
|1999|
|1999|
|1999|
|1999|
+----+
only showing top 5 rows

In [19]:
# how to select multiplr columns
df.select(['YEAR', 'show']).show(5)

+----+-------+
|YEAR|   show|
+----+-------+
|1999|1/11/99|
|1999|1/12/99|
|1999|1/13/99|
|1999|1/14/99|
|1999|1/18/99|
+----+-------+
only showing top 5 rows

In [20]:
df.dtypes

[('YEAR', 'int'),
 ('GoogleKnowlege_Occupation', 'string'),
 ('Show', 'string'),
 ('Group', 'string'),
 ('Raw_Guest_List', 'string')]

In [21]:
# how to use describe to summarize the dataframe
df.describe().show()

+-------+------------------+-------------------------+------+--------+--------------------+
|summary|              YEAR|GoogleKnowlege_Occupation|  Show|   Group|      Raw_Guest_List|
+-------+------------------+-------------------------+------+--------+--------------------+
|  count|              2693|                     2693|  2693|    2693|                2693|
|   mean|2006.8161901225399|                      0.0|  null|    null|                null|
| stddev| 4.828177498899673|                      0.0|  null|    null|                null|
|    min|              1999|                        -|1/1/07|Academic|"Dwayne The Rock"...|
|    max|              2015|                   writer|9/9/14|   media|                none|
+-------+------------------+-------------------------+------+--------+--------------------+

In [22]:
# Adding a new column with 2 years added in my dataframe
df = df.withColumn('YEAR + 2', df['YEAR'] + 2)

In [23]:
df.dtypes

[('YEAR', 'int'),
 ('GoogleKnowlege_Occupation', 'string'),
 ('Show', 'string'),
 ('Group', 'string'),
 ('Raw_Guest_List', 'string'),
 ('YEAR + 2', 'int')]

In [24]:
df.show(5)

+----+-------------------------+-------+------+----------------+--------+
|YEAR|GoogleKnowlege_Occupation|   Show| Group|  Raw_Guest_List|YEAR + 2|
+----+-------------------------+-------+------+----------------+--------+
|1999|                    actor|1/11/99|Acting|  Michael J. Fox|    2001|
|1999|                 Comedian|1/12/99|Comedy| Sandra Bernhard|    2001|
|1999|       television actress|1/13/99|Acting|   Tracey Ullman|    2001|
|1999|             film actress|1/14/99|Acting|Gillian Anderson|    2001|
|1999|                    actor|1/18/99|Acting|David Alan Grier|    2001|
+----+-------------------------+-------+------+----------------+--------+
only showing top 5 rows

In [25]:
# Dropping the year + 2 column
df = df.drop('YEAR + 2')

In [26]:
df.show(5)

+----+-------------------------+-------+------+----------------+
|YEAR|GoogleKnowlege_Occupation|   Show| Group|  Raw_Guest_List|
+----+-------------------------+-------+------+----------------+
|1999|                    actor|1/11/99|Acting|  Michael J. Fox|
|1999|                 Comedian|1/12/99|Comedy| Sandra Bernhard|
|1999|       television actress|1/13/99|Acting|   Tracey Ullman|
|1999|             film actress|1/14/99|Acting|Gillian Anderson|
|1999|                    actor|1/18/99|Acting|David Alan Grier|
+----+-------------------------+-------+------+----------------+
only showing top 5 rows

In [27]:
# Renaming the Group column to Work
df.withColumnRenamed('Group', 'Work').show(5)

+----+-------------------------+-------+------+----------------+
|YEAR|GoogleKnowlege_Occupation|   Show|  Work|  Raw_Guest_List|
+----+-------------------------+-------+------+----------------+
|1999|                    actor|1/11/99|Acting|  Michael J. Fox|
|1999|                 Comedian|1/12/99|Comedy| Sandra Bernhard|
|1999|       television actress|1/13/99|Acting|   Tracey Ullman|
|1999|             film actress|1/14/99|Acting|Gillian Anderson|
|1999|                    actor|1/18/99|Acting|David Alan Grier|
+----+-------------------------+-------+------+----------------+
only showing top 5 rows

In [28]:
# checking for null values 
null_columns = [column for column in df.columns if df.filter(col(column).isNull()).count() > 0]

In [29]:
null_columns

[]

In [30]:
null_column = []
for column in df.columns:
    null_count = df.filter(col(column).isNull()).count()
    if null_count > 0:
        null_columns.append(column)

In [31]:
null_column

[]

There are no null values in the data